<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>v-if,v-show,v-for指令</title>
    <script src="../vue2.6/vue.js"></script>
    </head>
    <body>
    <div id="root">
      <input v-model="inputValue">
      <button v-on:click="hadleCilck">Click</button>
      <ul>
          <item-todo v-for="(item, index) in list" :key="index" :content="item" :index="index" @delete="hadleDelete"></item-todo>
      </ul>
    </div>
    <script>
        // Vue.component("item-todo",{
        //         template: "<li>item</li>"
        //     }
        // )
        var todoItem = {
            props: ["content","index"],
            template: '<li @click="handleCclick">{{content}}{{index}}</li>',
            methods: {
                handleCclick: function () {
                    this.$emit('delete', this.index)
                }
            },
        }
        new Vue({
            el: "#root",
            components: { 
                "item-todo": todoItem
            },
            data: {
               inputValue: "",
               list: []
            },
            methods: {
                hadleCilck: function(){
                    this.list.push(this.inputValue);
                    this.inputValue = "";
                },
                hadleDelete: function(index){
                    alert("你需要删除第"+index+"个数据");
                    console.log(index);
                    this.list.splice(index,index);
                }
            },
        })
    </script>
    </body>
</html>