<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>v-if,v-show,v-for指令</title>
    <script src="../vue2.6/vue.js"></script>
    </head>
    <body>
    <div id="root">
      <input v-model="inputValue">
      <button v-on:click="hadleCilck">Click</button>
      <ul>
          <li v-for="(item, index) in list" v-bind="index">{{item}}</li>
      </ul>
    </div>
    <script>
        new Vue({
            el: "#root",
            data: {
               inputValue: "",
               list: []
            },
            methods: {
                hadleCilck: function(){
                    this.list.push(this.inputValue);
                    this.inputValue = "";
                }
            },
        })
    </script>
    </body>
</html>