
<html>
 <head>
     <!-- vue if 和 for循环使用 -->
     <!-- 引入vue脚本 -->
     <script src="../vue2.6/vue.js"></script>
 </head>
 <body>
    <div id= "myApp">
        <h3>游戏列表</h3>
        <div v-if="seen">2017最新发卖</div>
        <ol>
            <li v-for="(item, index) in items" :key="index">{{item.title}} / {{item.price}}</li>
        </ol>
    </div>
    <script>
         var vue = new Vue({
             el: '#myApp',
             data: {
                 seen: false,
                 items: [
                     {title: '勇者斗恶龙',price: 1400},
                     {title: '超级马里奥',price: 1100},
                     {title: '我的世界',price: 1200}
                 ]
             }
         })
    </script>
 </body>
</html>